<h1>Список пропонованих зустрiчей</h1>
<%= link_to "Нова зустріч", new_meet_path %>
<% @meets.each do |meet| %>
	<br>
	<a href="meets/<%= meet.id%>"><h2><%= meet.title%></h2></a>
	<h4><%= meet.location%></h4>
	<h4><%= meet.meetdate%></h4>
<% end %>