<h1><%= @meet.title %></h1>
<h3>Description:<p><%= @meet.description%></p></h3>
<h3>Meet date: <%= @meet.meetdate%></h3>
<h3>Meet time: <%= @meet.meetime%></h3>
<h3>Meet location: <%= @meet.location%></h3>
<br>
<%= link_to "Delete", meet_path(@meet), method: :delete, data: { confirm: 'Delete ???' } %>