<div class="row">
	<div class="col-12"><p class="h2 text-center p-5 mb-3"><%= @meet.title %></p></div>
	<div class="col-12 shadow p-3 mb-3 bg-light rounded">
		<div class="row">
				<div class="col-12 h3">Опис</div>
				<div class="col-12"><%= @meet.description%></div>
			<div class="col-12"> Дата зустрічі <%= @meet.meetdate%></div>
			<div class="col-12">Час зустрічі <%= @meet.meetime%></div>
			<div class="col-12">Місце зустрічі <%= @meet.location%></div>
			<div class="col-12">Автор зустрічі<%= @meet.user.email %> </div>
		</div>
			</div>
		<div class="col-12 shadow p-3 mb-3 bg-light rounded">
			<div class="row">
			<div class="col-12">
				<% if user_signed_in? %>
				<% if current_user.id == @meet.user_id %>
					<%= link_to "Редагувати", edit_meet_path(@meet), :class => 'btn btn-info' %>
					<%= link_to "Видалити", meet_path(@meet), method: :delete, data: { confirm: 'Дійсно видалити зустріч ???' }, :class => 'btn btn-danger' %>
				<% end %>
				<%= form_with(model: [ @meet, @meet.comes.build ], local: true) do |form| %>
						<% if false #@com.come %>
					    	<%= form.submit "Відмінити" , :class => 'btn btn-light' %>
						<% else %>
					    	<%= form.submit "Прийду" , :class => 'btn btn-success' %>
						<% end %>
				<% end %>
			<% end %>
<!--
			<% @comes.each do |come| %>
				<div class="col-12 shadow p-3 mb-3 bg-light rounded">
					<%= come.user_id %>
					<%= come.come %>
				</div>
			<% end %>
-->
		</div>
	  </div>
	</div>
</div>