<div class="row">
	<div class="col-12"><p class="h2 text-center p-5 mb-3"><%= @meet.title %></p></div>
	<div class="col-12 shadow p-3 mb-3 bg-light rounded">
		<div class="row">
				<div class="col-12 h3">Description</div>
				<div class="col-12"><%= @meet.description%></div>
			<div class="col-12"> Meet date <%= @meet.meetdate%></div>
			<div class="col-12">Meet time <%= @meet.meetime%></div>
			<div class="col-12">Meet location <%= @meet.location%></div>
			<div class="col-12">
				<% if user_signed_in? %>
				<% if current_user.id == 1 %>
					<%= link_to "Редагувати", edit_meet_path(@meet), :class => 'btn btn-info' %>
					<%= link_to "Видалити", meet_path(@meet), method: :delete, data: { confirm: 'Дійсно видалити зустріч ???' }, :class => 'btn btn-danger' %>
				<% end %>
			<% end %>
			</div>
		</div>
	</div>
</div>