<!DOCTYPE html>
<html>
  <head>
    <title>Rixi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if user_signed_in? %>
      <%= link_to "Вихід", destroy_user_session_path, method: :delete %>
      <a href="<%= new_meet_path %>">Створення нової зустрічі</a>
    <% else %>
      <a href="<%= new_user_session_path %>">Вхід</a>
      <a href="<%= new_user_registration_path %>">Реєстрація</a>
    <% end %>


    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
